// user imports to structure your css
@import "./menu.sass"

a
  cursor: pointer

  &:hover
    text-decoration: none

html, body
  height: 100%
  margin: 10px
  padding: 0
  font-family: Helvetica, Arial
  color: #333333

.clearfix:before
.clearfix:after,
  display: table
  content: " "
.clearfix:after
  clear: both
  
p
  width: 70%
